
# Created by https://www.gitignore.io/api/c++

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.*.py*
__pycache__/

?/*
!?/*.*
2/conf.*
2/options.*
2/pathconf.sym
2/pathopt.sym
2/sysconf.sym
2/sysopt.sym
1?/*
!1?/*.*

